.homeBackColor {
    height:100vh;
    background: linear-gradient(180deg, rgb(255, 255, 140) 0%, rgba(255,255,140) 60%, rgb(255, 174, 198) 100%);
}
.formBackColor {
    background-color:rgba(251, 251, 251, 0.375);
}
.resetColor {
    background-color:rgba(0, 0, 0, 0);
}

.homeBackImage {
    height:77vh;
    background-image: url(../img/home/cat001.JPG);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.flex-display {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    align-content: center;
}

.container {
    height:auto;
}

footer {
    position: absolute;
    bottom: 2px;
    width:100vw;
    text-align:center;
}
